/* Google font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* Common Styles */
body{
    background-color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.container{
    width: 1050px;
    margin-top: 27px;
    margin-left: 180px;
    margin-right: 210px;
}
/* Common Styles End */
/* Header Styles Start */
header{
    width: 1440px;
    height: 592px;
    background: #2D25A0;
}
.header-part{
    display: flex;
    flex-direction: row;
    padding-left: 108px;
    padding-right: 140px;
    padding-top: 50px;
}
.half-width{
    width: 50%;
    
}
h1{
    font-size: 64px;
    font-weight: 700;
    color: white;
    line-height: 80px;
}
.link-button{
    background-color: #E02C6D;
    height: 44px;
    width: 168px;
    display: flex;
    margin-left: 48px; 
}
.link-button a{
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    padding: 10px 24px 10px 24px;
}
.fa-arrow-right{

    color: #FFFFFF;
    padding-left: 8px;
    width: 16px;
    height: 14px;
}
.half-width img{
    width: 556px;
    height: 438px;
}
/* Header Styles End */
/* Main Part styles Start */
.players-first-part{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    justify-content: center;
    align-items: center;
}
.player{
    width: 330px;
    height: 474px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px;
    background-color: #FFFFFF;
    padding-bottom: 33px;
}
h3{
    margin-top: 16px;
    margin-bottom: 10px;
}
.player.ronaldo{
    width: 330px;
    height: 456px;
    margin-top: 4px;
    opacity: 40%;
}
.blogs .blog-text{
    font-family: 'Poppins', sans-serif;
    font-weight:400;
    font-size: 16px;
    color: #6C6C6C;
   
}
.player-image img{
    width: 330px;
    height: 256px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    justify-content: center;
}
/* Main Parts Styles Ends */
/* Footer Styles Start */
footer{
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
   
}
.footer{
    width:483.87px;
    height: 213px;
    margin-bottom: 63px;
    margin-top: 165px;
}
.footer-info{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    justify-items: center;
    align-items: center;
}
.logo img{
    width: 483.87px;
    height: 110px;
}
.social-icon img{
    height: 32px;
    width: 32px;
}
h4{
    font-size: 18px;
}
/* Footer Styles End */
